.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 75px;
}

